<template name="appBody">
	<div class="wrapper-welcome">
		<div class="title-welcome">Muerteor</div>
		<div class="description-welcome">
			Muerteor was made by David Sykora for the 2015 Meteor Global Hackathon. Built using <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. View the source on <a href="https://github.com/Dsyko/muerteor" target="_blank" class="js-open">GitHub</a>.
		</div>

		<div class="description-welcome">
			Muerteor is a Deadman's Switch. It gives you the ability to create a message that will automatically be sent by e-mail, text, or call if you don't check in for a certain period of time. Why? Why not!? You might find yourself with valuable information that someone is willing to kill for. Muerteor is an insurance policy. If you go missing or are unable to check in for any reason, Muerteor will make sure the information gets to whomever you want.
		</div>

		<div class="description-welcome">
			Lots of stuff borrowed from the Local Market demo made by <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a>. Special thanks to Percolate (now MDG ;) Slava Kim, Sashko Stubailo, and the rest of the MDG team for all their hard work in getting Cordova to work effortlessly with the Meteor CLI.
		</div>
	</div>

	<div id="container" class="container-fluid">
		<div class="content-scrollable">
			{{> appHeader}}
			{{> Template.dynamic template=main}}
		</div>
	</div>
</template>

<template name="appHeader">
	<div class="row">
		<div class="col-xs-12 text-center animate-jaw-slow">
			{{>skullicon}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center app-title">
			Muerteor
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center app-sub-title">
			A Dead Man's Switch
		</div>
	</div>
</template>

