<template name="home">
	{{#if userIsLoggedIn}}
		{{#momentum plugin='slide-height-fade' duration=250}}
			{{#if showWelcomeMessage}}
				<div class="col-xs-12">
					<div class=" welcome-panel panel panel-default">
						<div class="panel-heading text-center">
							You're In!
							<button class="pull-right" title="Close welcome message" data-action="hide-welcome-message"><i class="fa fa-times"></i></button>
						</div>
						<div class="panel-body">
							<h4 class="text-center welcome-message-section-heading">
								What is Muerteor?
							</h4>
							Muerteor is a Deadman's Switch. The name is a mashup of the spanish word for 'Death' and the awesome javascript platform 'Meteor'. Muerteor gives you the ability to setup a message that will automatically be sent by e-mail, text, and/or call if you don't check in for a certain period of time. The message is sent from Muerteor's servers so your phone doesn't have to be on for the message to get throgh. Why? A shady craigslist deal, a trip into the woods, or maybe meeting someone new for the first time. Muerteor is an insurance policy. If you go missing or are unable to check in for any reason, Muerteor will send your message for you.
						</div>
					</div>
				</div>
			{{/if}}
		{{/momentum}}
	{{/if}}
	<div class="row-fluid">
		<div class="col-xs-6">
			Your Alerts ({{alertCount}})
		</div>
		<div class="col-xs-6 text-right">
			<button class="btn btn-default btn-mini new-message-button" data-action="new-message"><i class="fa fa-plus"></i> New Alert</button>
		</div>
	</div>
	<div class="row-fluid">
		{{#momentum plugin='slide-height-fade' duration=250}}
			{{#each messages}}
				<div class="col-xs-12">
					<div class="message-container">
						<span class="message-name">
							{{name}}
						</span>
						<div class="message-edit-icons pull-right">
							<button data-action="edit-message"> <i class="entypo entypo-pencil"></i></button>
							<button data-action="delete-message"> <i class="entypo entypo-trash"></i></button>
						</div>
						<div class="message-time-left text-center">
							{{#with timeLeft}}
								{{#momentum plugin='velocity-reverse' duration=250}}
									{{#if equal this 'Expired!'}}
										<div>
											<div class="message-sent-icon  skull-laugh-fast">
												{{>skullicon}}
											</div>
											{{#if ../messageSent}}
												<span class="message-sent">Message Sent!</span>
											{{else}}
												Sending Message
											{{/if}}
										</div>
									{{else}}
										<div>
											<i class="entypo entypo-clock"></i> Time Left
										</div>
										<div class="message-time-left-timer">
											{{this}}
										</div>
									{{/if}}
								{{/momentum}}
							{{/with}}
						</div>
						<div class="message-reset text-center">
							<button class="btn btn-default btn-small" data-action="reset-message-timer"><i class="entypo entypo-back-in-time"></i> Reset Timer</button>
						</div>
					</div>
				</div>
			{{else}}
				<div class="col-xs-12 text-center">
					<div class="no-messages-text">
						You don't have any alerts yet. Tap 'New Alert' at the top right to create one.
					</div>
				</div>
			{{/each}}
		{{/momentum}}
	</div>
</template>