<template name="newMessage">
	<div class="row-fluid new-message-container">
		{{#with message}}
			{{#momentum plugin='velocity-reverse' duration=250}}
				{{#if queryParamEquals 'messageStep' 'name'}}
					<div class="col-xs-12">
						<div class="col-xs-12">
							{{>newMessageEditableName}}
						</div>
					</div>
					<div class="col-xs-12 text-center new-message-sub-header">
						Give your alert a name.
					</div>
				{{/if}}
				{{#if queryParamEquals 'messageStep' 'text'}}
					<div class="col-xs-12">
						<div class="col-xs-12">
							{{>newMessageEditableText}}
						</div>
					</div>
					<div class="col-xs-12 text-center new-message-sub-header">
						What message would you like to send?
					</div>
				{{/if}}
				{{#if queryParamEquals 'messageStep' 'timer'}}
					<div class="col-xs-12">
						<div class="col-xs-12">
							{{>newMessageEditableTime}}
						</div>
					</div>
					<div class="col-xs-12 text-center new-message-sub-header">
						Select how much time should pass without a check in before Muerteor sends your message.
					</div>
				{{/if}}
				{{#if queryParamEquals 'messageStep' 'people'}}
					<div class="col-xs-12">
						<div class="col-xs-12">
							{{>newMessageEditablePeople}}
						</div>
					</div>
					<div class="col-xs-12 text-center new-message-sub-header">
						Who do you want to send this message to?
					</div>
				{{/if}}
			{{/momentum}}
			<div class="col-xs-12 new-message-navigation">
				<div class="col-xs-6">
					<button class="btn btn-default" data-action="prev"><i class="fa fa-angle-left"></i> {{#if onFirstStep}}Home{{else}}Prev{{/if}}</button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default pull-right" data-action="next"> {{#if onLastStep}}Finish{{else}}Next{{/if}} <i class="fa fa-angle-right"></i></button>
				</div>
			</div>
		{{/with}}
	</div>
</template>

<template name="newMessageEditableName">
	<input type="text" placeholder="Name Your Message"/>
</template>

<template name="newMessageEditableText">
	<textarea placeholder="Message to send" rows="5"></textarea>
</template>

<template name="newMessageEditableTime">
	<div class="col-xs-4 text-center">
		Days
		<select class="form-control days">
			{{#each days}}
				<option>{{this}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-xs-4 text-center">
		Hours
		<select class="form-control hours">
			{{#each hours}}
				<option>{{this}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-xs-4 text-center">
		Minutes
		<select class="form-control minutes">
			{{#each minutes}}
				<option>{{this}}</option>
			{{/each}}
		</select>
	</div>
	{{#if false}}
		<div class="col-xs-4 text-center">
			Seconds
			<select class="form-control seconds">
				{{#each seconds}}
					<option>{{this}}</option>
				{{/each}}
			</select>
		</div>
	{{/if}}
</template>

<template name="newMessageEditablePeople">
	<div class="col-xs-12 new-message-contact-item">
		<i class="fa fa-envelope-o"></i> Emails (tap to edit)
		<div class="emails text-center">
			{{#if emails}}
				{{emails}}
			{{/if}}
		</div>
	</div>
	<div class="col-xs-12 new-message-contact-item">
		<i class="entypo entypo-comment"></i> Numbers to Text (tap to edit)
		<div class="texts text-center">
			{{#if texts}}
				{{texts}}
			{{/if}}
		</div>
	</div>
	<div class="col-xs-12 new-message-contact-item">
		<i class="fa fa-phone"></i> Numbers to Call (tap to edit)
		<div class="calls text-center">
			{{#if calls}}
				{{calls}}
			{{/if}}
		</div>
	</div>
</template>